
@media (min-width: 1024px) {
  .custom_video {
    display: flex;
    width: 100%;
    /* max-height: 100vh; */
    

  }
  .custom_video_card {
    display: flex;
    margin-left: 20%;

  }
}

@media (max-width: 767px) {
  .custom_video {
    height: inherit !important;
  }
}
